 .cart-header{
    padding-top:0.5rem;
}
 .orders{
 margin:2rem 0 0 0 ;
 min-height: calc(100vh- 15rem); 
} 
.order-heading
.order-total{
    width:100%;
    max-width:600px; 

}
.order-heading{
    border-bottom: 1px solid #000;
    margin-bottom: 1.5rem;
}
.order-total{
    border-top: 2px solid #000;
    text-align: right;
    margin-left: auto;
    margin-top: 3rem;
    color: Black;
   margin-left: 7rem; 
}
.order-discount strike{
    color: rgb(99, 91, 91);
}
.button{
    margin-left:13rem;
    margin-top: 23px;
    width:40%;
    height:3rem;
    border-radius: 2rem;
    background-color:#4caf50 ;
    border: none;
    color: #fff;
    font-weight: bold;

}